.strong {
  position: relative;
  z-index: 0;

  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    right: -1px;
    left: -1px;
    bottom: 1px;
    height: 0.5em;
    background: $color-primary;
  }
}
